button {
  background-color: #fff;
  border: 1px solid #282c34;
  border-radius: 8px;
  margin: 5px 0;
  padding: 5px 0;
  font-size: calc(10px + 2vmin);
  cursor: pointer;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F2B824;
  border: 5px solid #fff;
  border-radius: 8px;
  padding: 30px;
}

#camera {
  width: 640px;
  height: 480px;
}

#camera > div > video {
  left: 0;
}

.login-form label {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
}

.login-form h1 {
  margin: 15px 0;
}

.login-form input {
  width: 300px;
  margin-left: 10px;
}

.App-header a {
  color: #fff;
  text-decoration: none;
}

.App-header a:hover {
  color: #F2B824;
}

.signup-form {
  max-width: 800px;
  margin: 30px auto;
  font-size: calc(10px + 2vmin);
} 

.signup-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  padding: 30px;
  color: #000;
  border-radius: 15px;
}

.signup-form label {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
}

.signup-form input {
  width: 500px;
  margin-left: 10px;
}

.page-header {
  background-color: #F2B824;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.page-header__container {
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
  color: #000;
  display: flex;
  flex-direction: column;
}

.page-header__container span {
  margin: 10px 0;
}

.whitelist {
  margin: 0 auto;
  max-width: 600px;
}

.whitelist__item {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin: 10px 0;
}

.whitelist__item span {
  margin: 5px 0;
}

.whitelist__item i {
  color: #DB3737;
}

.whitelist__form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  max-width: 500px;
  border: 2px solid #CED9E0;
  border-radius: 5px;
  padding: 15px;
  margin: 30px;
  font-size: 20px;
}

.whitelist__form label {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.whitelist__form input {
  width: 300px;
}

.whitelist__form button {
  width: 50px;
  font-size: 16px;
  background-color: #F2B824;
  border: none;
  color: #fff;
  font-weight: 700;
  align-self: flex-end;
  font-size: 20px;
  margin: 10px 0 0;
}

.whitelist__url {
  display: flex;
  justify-content: space-between;
}